In [56]:
#for the linear regression model
from sklearn.linear_model import LinearRegression
#for splitting the dataset into training and testing data
from sklearn.model_selection import train_test_split
#for manipulation of the dataframe
import pandas as pd
#to plot the linear regression graph
import matplotlib.pyplot as plt
#to calculate the error metrics of the model
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

In [57]:
#importing the dataset
salary = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Salary%20Data.csv')

In [58]:
#defining the x (independent) variable and y (dependent) variable
x = salary.loc[:, ['Experience Years']]
y = salary.loc[:, ['Salary']]

In [59]:
#displaying the first five entries of the dataset 'salary'
salary.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

In [60]:
#divide the dataset into training and testing data
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=2529, train_size = .8)

In [61]:
#initializing the linear regression model for the dataset
model = LinearRegression()

In [62]:
#to fit the dataset 'salary' in the linear regression model
model.fit(x_train, y_train)

LinearRegression()

In [63]:
#to find the intercept and coefficient of the trained model
print('intercept:', model.intercept_)
print('co-efficient:', model.coef_)

intercept: [26344.85810218]
co-efficient: [[9398.19785815]]

In [64]:
#to predict the salaries for the test data of the years of experience
y_predicted = model.predict(x_test)
print('predicted values of the salaries for the test data:', y_predicted)

predicted values of the salaries for the test data: [[ 90252.60353757]
 [ 59238.55060569]
 [106229.53989642]
 [ 63937.64953476]
 [ 68636.74846383]
 [123146.29604108]
 [ 84613.68482268]
 [ 62997.82974895]]

In [65]:
#to find the mean squared error between predicted and actual values of salary
mean_squared = mean_squared_error(y_test, y_predicted)
print('mean squared error: ', mean_squared)

mean squared error:  22326699.302527916

In [66]:
#to find the mean absolute error between predicted and actual values of salary
mean_absolute = mean_absolute_error(y_test, y_predicted)
print('mean absolute error: ', mean_absolute)

mean absolute error:  3688.1856785463488

In [67]:
#to find the mean absolute percentage error between predicted and actual values of salary
mean_absolute_percentage = mean_absolute_percentage_error(y_test, y_predicted)
print('mean absolute percentage error: ', mean_absolute_percentage)

mean absolute percentage error:  0.050339688879149136